.tbl-container {
    max-width: 80%;
    margin: 40px auto;
    direction: rtl;
  }
  
  .custom-table {
    width: 100%;
    border: white solid 0.2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgb(134, 234, 221);
  }
  
  .col{
    text-align: start;
  }
