.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    direction: rtl;
    margin-top: 20px;
    margin-bottom: 20px;
}
.filter-button {
    height: 40px;
    margin: 1px;
}

.clear-button {
    height: 40px;
    margin: 1px;
}